<h1>Wordify!</h1>
<form class="" action='/results'>
  <div class="form-group">
    <label for="input">Enter a number</label>
    <input name="input" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-info">Wordify!</button>
</form>
